/* Mobile View - Default */
:root {
  --primary-color: red;
  --secondary-color: lime;
  --tertiary-color: blue;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #67645d;
  background-color: white;
  padding-top: 150px;
  background-image: url(Images/bgc.png);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}
#pageheader {
  background-color: #695453;
  padding: 1rem;
  min-height: auto;
}
#pageheader .container {
  min-height: auto;
}
#pageheader nav {
  text-align: center;
}
#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#pageheader nav ul li {
  padding: 1rem;
  border: 2px solid none;
  background-color: #76736c;
  margin: 2px;
  border-radius: 10px;
}
#pageheader nav ul li:hover {
  background-color: #8e5c40;
  transition: all 2s;
}
#logo {
  background-image: url(Images/logosmall.png);
  background-size: cover;
  width: 6.25rem;
  height: 6.25rem;
  margin: auto;
}
#media {
  background-color: lightblue;
  /* min-height: 10rem; */
  height: 80vh;
  padding: 1rem;
  background-image: url(Images/hero.png);
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
  background-position: center center;
}
blockquote {
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
}
blockquote + span {
  padding: 1rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: right;
}
#career {
  background-color: #41414d;
  padding: 1rem;
  min-height: 10rem;
}
#pagecontent {
  background-color: #3f3f3a;
  padding: 1rem;
  min-height: 10rem;
}
#semster1 {
  background-color: #4c2123;
  padding: 1rem;
  min-height: 10rem;
}
#semester2 {
  background-color: #242221;
  padding: 1rem;
  min-height: 10rem;
}
#pagefooter {
  background-color: #242221;
  padding: 1rem;
  min-height: auto;
}
#pagefooter .container {
  background-color: none;
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: #695453;
  padding: 1rem;
  min-height: auto;
}

#aifooter .container {
  text-align: center;
  min-height: auto;
}

#pagesubfooter {
  background-color: #252838;
  padding: 1rem;
  min-height: 10rem;
  text-align: center;
}

audio {
  display: block;
  margin: auto;
  border: 5px;
  color: black;
}
a {
  color: black;
}
/* Tablet View */
@media screen and (min-width: 600px) {
  #pageheader nav ul {
    background-color: none;
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }
  #pagecontent {
    background-color: none;
  }
  #career {
    background-color: none;
  }
}
/* Desktop View */
@media screen and (min-width: 1000px) {
  body {
    background-color: none;
  }
}
/* Fonts */
.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 300;
  font-style: normal;
}
.dm-sans-variable {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
